<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div *ngIf="!quizOver">
                <app-question [questionIndex]="currentIndex"
                                (answers) ="receiveAnswers($event)"
                                (totalQuestions)="3" >
                </app-question>
                <br>
                <span *ngIf="currentIndex !== 0"><button class="btn btn-outline-primary" (click)="goPrevious()">Previous</button> | </span>
                <button class="btn btn-outline-success" (click)="goNext()" >Next</button>
            </div>
            <!--This div renders if quizOver is true-->
            <div *ngIf="quizOver">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5>Quiz is Over!</h5>
                        <p>Your score is {{score}} / {{totalQuestions}}</p>
                        <button class="btn btn-outline-success" (click)="restartQuiz()">Retake Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    